[Unit]
Description=ElastAlert - Easy & Flexible Alerting With Elasticsearch
After=network.target remote-fs.target nss-lookup.target
Documentation=http://elastalert.readthedocs.io/en/latest

[Service]
Type=simple
User=elastalert
Group=elastalert
EnvironmentFile=/etc/sysconfig/elastalert
ExecStart=/usr/share/python/elastalert/bin/elastalert --config $CONFIGFILE $ARGS
ExecStop=/bin/kill -WINCH ${MAINPID}
KillSignal=SIGTERM
PrivateTmp=true
StandardOutput=syslog
StandardError=syslog+console

[Install]
WantedBy=multi-user.target